

<h1>Heading</h1>
form{
    padding: 100px;
    border: 2px solid red;

}
#fname{
    margin: 10px;
    padding: 5px;
}
#email{
    margin: 10px;
    padding: 5px;
}
img{
    float: right;
    display: inline;
    margin-right: 50%;
    width: 200px;
    height: 200px;

}
#cars{
    margin: 10px;
    padding: 5px;
}
li a{

    background-color: black;
    text-decoration:none;
    display: block;
    color: white;
    text-align: center;

    padding: 14px 16px;

}
a:hover{

    background-color: #111;


}
.button{
    margin-left: 20px;
    padding: 10px;
border: 2px solid grey;
    background-color: green;
    color:white;

}
.button:hover{
    background-color: red;
}

table, th, td {
    border: 3px solid black;
    padding: 2px;
    text-align: center;
    border-collapse: collapse;
    background: url(https://thumbs.dreamstime.com/b/white-wood-wall-texture-background-panels-graphic-resources-149622903.jpg)

}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #333;


    overflow: hidden;
}
li{

    float: left;


}

